.mainpage {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.leftout {
    width: 20%;
    background-color: red;
    overflow: hidden;
}

.rightout {
    width: 80%;
    background-color: black;
    overflow: hidden;
}

.leftsection {
    background-color: #000000;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newchat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 10%;
}

.textone {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.gem {
    font-size: 20px;
}

.newchat div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.edit {
    width: 30px;
    height: 30px;
    color: white;
}

.allchat {
    height: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
}

.rightsection {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #343434;
    overflow-y: scroll;
}

.geminiversion {
    text-align: center;
}

.nochat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sectionone {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    top: 30%;
    color: white;
}

.chatbox {
    flex-grow: 1;
    overflow-y: auto;
}

.user-message,
.bot-message {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.user-message {
    background-color: #676767;
    text-align: left;
    color: white;
    margin-top: 1%;
}

.bot-message {
    background-color: #454545;
    text-align: left;
    color: white;
}

.bottomsection {
    border-top: 1px solid #ddd;
    padding: 10px;
}

.messagebar {
    display: flex;
    align-items: center;
}

.messagebar input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 4px;
    margin-right: 10px;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
    outline: none;
    color: white;
}

.send {
    color: #007bff;
}

.footer {
    text-align: center;
    margin-top: 10px;
    color: white;
}